[submodule "src/3rdparty/lua"]
	path = src/3rdparty/lua
	url = https://github.com/lua/lua.git
[submodule "src/3rdparty/sokol"]
	path = src/3rdparty/sokol
	url = https://github.com/floooh/sokol.git
[submodule "src/3rdparty/zlib"]
	path = src/3rdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "src/3rdparty/libpng"]
	path = src/3rdparty/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "src/3rdparty/libjpeg-turbo"]
	path = src/3rdparty/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "src/3rdparty/sokol_gp"]
	path = src/3rdparty/sokol_gp
	url = https://github.com/edubart/sokol_gp.git
