[submodule "src/3rdparty/lua"]
	path = src/3rdparty/lua
	url = https://github.com/lua/lua.git
[submodule "src/3rdparty/sokol"]
	path = src/3rdparty/sokol
	url = https://github.com/floooh/sokol.git
[submodule "src/3rdparty/zlib"]
	path = src/3rdparty/zlib
	url = https://github.com/madler/zlib.git
